# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environments
.venv/
env/
venv/

# Flask instance folder
instance/

# Flask app configuration
*.env
*.flaskenv

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Migrations
migrations/

# Database files
*.sqlite
*.db

# Logs
*.log

# coverage reports
.coverage
coverage.xml
*.cover
nosetests.xml
test-results/

# pytest cache directory
.cache/

# mypy
.mypy_cache/

# Cython debug symbols
cython_debug/
